body {
    font-family: 'Open Sans', sans-serif;
}

.heading {
    transform: uppercase;
    color: slategray;
    text-align: center;
    margin: auto;
    font-size: 3rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

.introduction {
    text-align: center;
    margin: auto;
    max-width: 90%;
    padding-bottom: 0.5rem;
}

/* Game area */

.quiz-area {
    border: 1px solid black;
    border-radius: 1rem;
    width: 90%;
    height: auto;
    margin: auto;
    background-color: lightcyan;
}

#question {
    font-size: 2rem;
    display: block;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#state {
    font-size: 2.5rem;
    display: block;
    text-align: center;
    padding-bottom: 0.5rem;
    letter-spacing: 0.1rem;
}

#answer-area {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.score-counter {
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}

/* Controls */

.control-area {
    margin: auto;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
}

/* Button styling */

button {
    font-size: 1.5rem;
    background-color: lightblue;
}

#skip-btn, #reset-btn {
    visibility: hidden;
}

#submit-btn {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    visibility: hidden;
    background-color: beige;
}